<h2>Show entry</h2>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @entry.text %>
  </li>

  <li>
    <strong>List:</strong>
    <%= @entry.list_id %>
  </li>

</ul>

<%= #link "Edit", to: list_entry_path(@conn, :edit, @entry, list_id: @list_id) %>
<%= #link "Back", to: list_entry_path(@conn, :index, list_id: @list_id) %>
